{:deps {poly/calculator1 {:local/root "../../components/calculator1"}
        poly/database1   {:local/root "../../components/database1"}
        poly/user1       {:local/root "../../components/user1"}
        poly/util1       {:local/root "../../components/util1"}
        poly/base1       {:local/root "../../bases/base1"}
        poly/base2       {:local/root "../../bases/base2"}
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {poly/test-helper1 {:local/root "../../components/test-helper1"}}}}}
