{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps {:mvn/version "0.16.1264"}
        poly/user {:local/root "../../components/user"}}

 :aliases {:test {:extra-paths ["../../components/user/test"]
                  :extra-deps  {}}}}
