{:deps {poly/user-remote {:local/root "../../components/user-remote"}
        poly/cli {:local/root "../../bases/cli"}

        org.clojure/clojure {:mvn/version "1.11.1"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.22.1"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.22.1"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}

           :uberjar {:main se.example.cli.core}}}
