{:deps {api            {:local/root "../../components/api"}
        change         {:local/root "../../components/change"}
        common         {:local/root "../../components/common"}
        deployer       {:local/root "../../components/deployer"}
        deps           {:local/root "../../components/deps"}
        file           {:local/root "../../components/file"}
        git            {:local/root "../../components/git"}
        lib            {:local/root "../../components/lib"}
        path-finder    {:local/root "../../components/path-finder"}
        shell          {:local/root "../../components/shell"}
        user-config    {:local/root "../../components/user-config"}
        user-input     {:local/root "../../components/user-input"}
        text-table     {:local/root "../../components/text-table"}
        util           {:local/root "../../components/util"}
        validator      {:local/root "../../components/validator"}
        version        {:local/root "../../components/version"}
        workspace      {:local/root "../../components/workspace"}
        workspace-clj  {:local/root "../../components/workspace-clj"}
        ws-explorer    {:local/root "../../components/ws-explorer"}
        deployer-cli   {:local/root "../../bases/deployer-cli"}

        org.clojure/clojure {:mvn/version "1.10.1"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.13.3"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.13.3"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
