;; Run tests with: clojure -A:dev -X:test
{:paths []
 :deps {poly/rcf   {:local/root "../../bases/rcf"}
        poly/sqldb {:local/root "../../components/sqldb"}}
 ;; We get the warnings: WARNING: Use of :paths external to the project has been deprecated, please remove: ../../bases/rcf/test
 :aliases {:test {:extra-paths []
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
