**/classes
**/.artifacts
**/target
**/.cpcache
**/.DS_Store
**/.gradle

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
.idea/**/statistic.xml
.idea/dictionaries/**
.idea/libraries/**

# File-based project format
*.iws
*.ipr

# Cursive Clojure plugin
.idea/replstate.xml

.nrepl-port

*.iml

/example/example/**
artifacts
projects/**/pom.xml

# clojure-lsp
.lsp/sqlite*.db

# Calva
.calva/output-window/output.calva-repl
