{;; Parts of this script have been copied from: https://github.com/clj-commons/etaoin/blob/master/bb.edn

 :min-bb-version "1.3.182"
 :paths ["." "scripts"]
 :deps {lread/status-line {:git/url "https://github.com/lread/status-line.git"
                           :sha "cf44c15f30ea3867227fa61ceb823e5e942c707f"}}
 :tasks
 {;; setup
  :requires ([clojure.string :as string]
             [lread.status-line :as status]
             [babashka.process :refer [shell]])
  :enter (let [{:keys [name]} (current-task)]
           (when-not (string/starts-with? name "-")
             (status/line :head "TASK %s %s" name (string/join " " *command-line-args*))))
  :leave (let [{:keys [name]} (current-task)]
           (when-not (string/starts-with? name "-")
             (status/line :detail "\nTASK %s done." name)))

  ;; commands
  doc-preview {:doc "preview what docs will look like on cljdoc, use help for args"
               :task cljdoc-preview/-main}

  jar {:doc "Builds projects/poly/target/poly.jar"
       :task (shell "clojure -T:build uberjar :project poly")}

  poly-local {:doc "Installs the poly tool locally"
              :depends [jar]
              :task (shell "sudo cp projects/poly/target/poly.jar /usr/local/polylith/poly.jar")}}}
