
{:polylith {:color-mode "dark"
            :top-namespaces {"polylith.clj.core" ""
                             "polylith.clj.cli-tool" "tool"}
            :env-short-names {"dev" "dev"
                              "cli" "cli"
                              "core" "core"}}

 :aliases  {:dev      {:extra-deps {env/core {:local/root "environments/dev"}}}

            :test     {:main-opts ["-m" "polylith.clj.cli-tool.cli.poly" "test"]}
            :check    {:main-opts ["-m" "polylith.clj.cli-tool.cli.poly" "check"]}}}
