{:vcs {:name "git"
       :auto-add true}
 :top-namespace "polylith.clj.core"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}

 :projects {"api" {:alias "api" :test [] :necessary ["api"]}
            "poly" {:alias "poly" :necessary ["clojure-test-test-runner"]}
            "development" {:alias "dev"}}}
