{:paths []
 :deps {poly/mybase {:local/root "../../bases/empty"}
        poly/sqldb {:local/root "../../components/sqldb"}

        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}}}}
