{:deps {polyfy/antq                     {:local/root "../../components/antq"}
        polyfy/change                   {:local/root "../../components/change"}
        polyfy/check                    {:local/root "../../components/check"}
        polyfy/clojure-test-test-runner {:local/root "../../components/clojure-test-test-runner"}
        polyfy/command                  {:local/root "../../components/command"}
        polyfy/common                   {:local/root "../../components/common"}
        polyfy/config-reader            {:local/root "../../components/config-reader"}
        polyfy/creator                  {:local/root "../../components/creator"}
        polyfy/deps                     {:local/root "../../components/deps"}
        polyfy/doc                      {:local/root "../../components/doc"}
        polyfy/file                     {:local/root "../../components/file"}
        polyfy/git                      {:local/root "../../components/git"}
        polyfy/help                     {:local/root "../../components/help"}
        polyfy/image-creator            {:local/root "../../components/image-creator-x"}
        polyfy/info                     {:local/root "../../components/info"}
        polyfy/lib                      {:local/root "../../components/lib"}
        polyfy/maven                    {:local/root "../../components/maven"}
        polyfy/migrator                 {:local/root "../../components/migrator"}
        polyfy/overview                 {:local/root "../../components/overview"}
        polyfy/path-finder              {:local/root "../../components/path-finder"}
        polyfy/sh                       {:local/root "../../components/sh"}
        polyfy/shell                    {:local/root "../../components/shell"}
        polyfy/system                   {:local/root "../../components/system-x"}
        polyfy/tap                      {:local/root "../../components/tap"}
        polyfy/test-runner-contract     {:local/root "../../components/test-runner-contract"}
        polyfy/test-runner-orchestrator {:local/root "../../components/test-runner-orchestrator"}
        polyfy/text-table               {:local/root "../../components/text-table"}
        polyfy/user-config              {:local/root "../../components/user-config"}
        polyfy/user-input               {:local/root "../../components/user-input"}
        polyfy/util                     {:local/root "../../components/util"}
        polyfy/validator                {:local/root "../../components/validator"}
        polyfy/version                  {:local/root "../../components/version"}
        polyfy/workspace                {:local/root "../../components/workspace"}
        polyfy/workspace-clj            {:local/root "../../components/workspace-clj"}
        polyfy/ws-explorer              {:local/root "../../components/ws-explorer"}
        polyfy/ws-file                  {:local/root "../../components/ws-file"}
        polyfy/poly-cli                 {:local/root "../../bases/poly-cli"}

        org.clojure/clojure {:mvn/version "1.11.1"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.11"}}

 ;; so poly can be installed as a tool:
 :tools/usage {:ns-default polylith.clj.core.poly-cli.api}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {poly/test-helper {:local/root "../../components/test-helper"}}}

           :uberjar {:main polylith.clj.core.poly-cli.core}

           :jar {:jar-file "target/poly-thin.jar"}}}
