{:deps {polylith/antq                     {:local/root "../../components/antq"}
        polylith/change                   {:local/root "../../components/change"}
        polylith/check                    {:local/root "../../components/check"}
        polylith/clojure-test-test-runner {:local/root "../../components/clojure-test-test-runner"}
        polylith/command                  {:local/root "../../components/command"}
        polylith/common                   {:local/root "../../components/common"}
        polylith/config-reader            {:local/root "../../components/config-reader"}
        polylith/creator                  {:local/root "../../components/creator"}
        polylith/deps                     {:local/root "../../components/deps"}
        polylith/doc                      {:local/root "../../components/doc"}
        polylith/file                     {:local/root "../../components/file"}
        polylith/git                      {:local/root "../../components/git"}
        polylith/help                     {:local/root "../../components/help"}
        polylith/image-creator            {:local/root "../../components/image-creator-x"}
        polylith/info                     {:local/root "../../components/info"}
        polylith/lib                      {:local/root "../../components/lib"}
        polylith/maven                    {:local/root "../../components/maven"}
        polylith/migrator                 {:local/root "../../components/migrator"}
        polylith/overview                 {:local/root "../../components/overview"}
        polylith/path-finder              {:local/root "../../components/path-finder"}
        polylith/sh                       {:local/root "../../components/sh"}
        polylith/shell                    {:local/root "../../components/shell"}
        polylith/system                   {:local/root "../../components/system-x"}
        polylith/tap                      {:local/root "../../components/tap"}
        polylith/test-runner-contract     {:local/root "../../components/test-runner-contract"}
        polylith/test-runner-orchestrator {:local/root "../../components/test-runner-orchestrator"}
        polylith/text-table               {:local/root "../../components/text-table"}
        polylith/user-config              {:local/root "../../components/user-config"}
        polylith/user-input               {:local/root "../../components/user-input"}
        polylith/util                     {:local/root "../../components/util"}
        polylith/validator                {:local/root "../../components/validator"}
        polylith/version                  {:local/root "../../components/version"}
        polylith/workspace                {:local/root "../../components/workspace"}
        polylith/workspace-clj            {:local/root "../../components/workspace-clj"}
        polylith/ws-explorer              {:local/root "../../components/ws-explorer"}
        polylith/ws-file                  {:local/root "../../components/ws-file"}
        polylith/poly-cli                 {:local/root "../../bases/poly-cli"}

        org.clojure/clojure {:mvn/version "1.11.1"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.11"}}

 ;; so poly can be installed as a tool:
 :tools/usage {:ns-default polylith.clj.core.poly-cli.api}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {poly/test-helper {:local/root "../../components/test-helper"}}}

           :uberjar {:main polylith.clj.core.poly-cli.core}

           :jar {:jar-file "target/poly-thin.jar"}}}
