{:top-namespace "com.localdep"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :vcs {:name "git"
       :auto-add false}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}
 :projects {"development" {:alias "dev"}
            "invoicing" {:alias "inv"
                         :necessary ["datomic-ions" "without-src"]}}}
