{:vcs {:auto-add false
       :name "git"}
 :top-namespace "com.localdep"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}}
