{:deps {api           {:local/root "../../components/api"}
        change        {:local/root "../../components/change"}
        common        {:local/root "../../components/common"}
        deps          {:local/root "../../components/deps"}
        file          {:local/root "../../components/file"}
        git           {:local/root "../../components/git"}
        lib           {:local/root "../../components/lib"}
        path-finder   {:local/root "../../components/path-finder"}
        shell         {:local/root "../../components/shell"}
        text-table    {:local/root "../../components/text-table"}
        user-config   {:local/root "../../components/user-config"}
        user-input    {:local/root "../../components/user-input"}
        util          {:local/root "../../components/util"}
        validator     {:local/root "../../components/validator"}
        version       {:local/root "../../components/version"}
        workspace     {:local/root "../../components/workspace"}
        workspace-clj {:local/root "../../components/workspace-clj"}
        ws-explorer   {:local/root "../../components/ws-explorer"}

        org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}

           :skinny-jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                      :sha "0e8731e0f24db05b74769e219051b0e92b50624a"}}
                        :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "target/api-skinny.jar"]}}}
