{:aliases  {:dev {:extra-paths ["development/src"
                                "components/util/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "e51182d5e699f7e7ce141f1b1da25b50599d8886"
                                 :deps/root "projects/poly"}}}}}
