{:vcs {:auto-add false
       :name "git"}
 :top-namespace "example"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :dialects ["clj"]
 :tag-patterns {:stable "^stable-.*"
                :release "^v[0-9].*"}
 :validations {:inconsistent-lib-versions {:type :warning
                                           :exclude []}}
 :projects {"development" {:alias "dev"}
            "service" {:alias "service"
                       :necessary ["util"]}}}
