{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {poly/sqldb {:local/root "components/sqldb"}
                               poly/rcf   {:local/root "bases/rcf"}
                               poly/empty {:local/root "bases/empty"}

                               org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths ["bases/rcf/test"
                                 "bases/empty/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :jvm-opts [;; Run RCF tests when loading files in REPL
                              ;; https://github.com/hyperfiddle/rcf#ci
                              "-Dhyperfiddle.rcf.generate-tests=true"]
                   :extra-deps {polylith/clj-poly {:local/root "../../projects/poly"}}}}}
