{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {;; bases
                               poly/rcf {:local/root "bases/rcf"}
                               poly/issue-261 {:local/root "bases/mybase"}
                               ;; components
                               poly/sqldb {:local/root "components/sqldb"}

                               org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths ["bases/rcf/test"
                                 "bases/mybase/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :jvm-opts [;; Run RCF tests when loading files in REPL
                             ;; https://github.com/hyperfiddle/rcf#ci
                              "-Dhyperfiddle.rcf.generate-tests=true"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "1209a81e6b8f70987050d65d106e99d1a902969a"
                                 :deps/root "projects/poly"}}}}}
