{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {poly/sqldb {:local/root "components/sqldb"}
                               poly/rcf   {:local/root "bases/rcf"}
                               poly/empty {:local/root "bases/empty"}

                               org.clojure/clojure {:mvn/version "1.12.0"}}}

            :test {:extra-paths ["bases/rcf/test"
                                 "bases/empty/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :jvm-opts [;; Run RCF tests when loading files in REPL
                              ;; https://github.com/hyperfiddle/rcf#ci
                              "-Dhyperfiddle.rcf.generate-tests=true"]

                   :extra-deps {polylith/clj-poly {:local/root "../../projects/poly"}}}}}
                                ;; Add this line to use the external test runner + a row in workspace.edn.
                                ;;io.github.seancorfield/polylith-external-test-runner {:git/tag "v0.4.0" :git/sha "eb954fe" :deps/root "projects/runner"}}}}}
