{:top-namespace "poly-rcf"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :vcs {:name "git"
       :auto-add false}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}
 :projects {"development" {:alias "dev"}
            "rcf" {:alias "rcf"
                   :necessary ["sqldb"]}
            "poly261" {:alias "poly261"
                       :necessary ["sqldb"]}}}
