{:deps {poly/invoicer {:local/root "../../components/invoicer"}
        poly/test-setup {:local/root "../../components/test-setup"}

        org.clojure/clojure {:mvn/version "1.12.0"}}

 :aliases {:test {:extra-paths []
                  :extra-deps {polylith-kaocha/kaocha-wrapper
                               {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                :git/tag "v0.8.4"
                                :git/sha "f096de8"
                                :deps/root "projects/kaocha-wrapper"}}}}}
