{:deps {change        {:local/root "../../components/change"}
        command       {:local/root "../../components/command"}
        common        {:local/root "../../components/common"}
        creator       {:local/root "../../components/creator"}
        deps          {:local/root "../../components/deps"}
        file          {:local/root "../../components/file"}
        git           {:local/root "../../components/git"}
        help          {:local/root "../../components/help"}
        lib           {:local/root "../../components/lib"}
        path-finder   {:local/root "../../components/path-finder"}
        shell         {:local/root "../../components/shell"}
        test-helper   {:local/root "../../components/test-helper"}
        test-runner   {:local/root "../../components/test-runner"}
        text-table    {:local/root "../../components/text-table"}
        user-config   {:local/root "../../components/user-config"}
        user-input    {:local/root "../../components/user-input"}
        util          {:local/root "../../components/util"}
        validator     {:local/root "../../components/validator"}
        version       {:local/root "../../components/version"}
        workspace     {:local/root "../../components/workspace"}
        workspace-clj {:local/root "../../components/workspace-clj"}
        ws-explorer   {:local/root "../../components/ws-explorer"}
        poly-cli      {:local/root "../../bases/poly-cli"}

        org.clojure/clojure {:mvn/version "1.10.1"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.13.3"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.13.3"}}

 :aliases {:test      {:extra-paths ["test"]
                       :extra-deps  {}}

           :aot       {:extra-paths ["classes"]
                       :main-opts   ["-e" "(compile,'polylith.clj.core.poly-cli.core)"]}

           :uberjar   {:extra-deps {uberdeps/uberdeps {:mvn/version "0.1.10"}}
                       :main-opts  ["-m" "uberdeps.uberjar"
                                    "--aliases" "aot"
                                    "--main-class" "polylith.clj.core.poly_cli.core"]}

           :skinny-jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                      :sha     "0e8731e0f24db05b74769e219051b0e92b50624a"}}
                        :main-opts  ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "target/poly-skinny.jar"]}}}
