{:deps {poly/change                   {:local/root "../../components/change"}
        poly/clojure-test-test-runner {:local/root "../../components/clojure-test-test-runner"}
        poly/command                  {:local/root "../../components/command"}
        poly/common                   {:local/root "../../components/common"}
        poly/config-reader            {:local/root "../../components/config-reader"}
        poly/creator                  {:local/root "../../components/creator"}
        poly/deps                     {:local/root "../../components/deps"}
        poly/file                     {:local/root "../../components/file"}
        poly/git                      {:local/root "../../components/git"}
        poly/help                     {:local/root "../../components/help"}
        poly/lib                      {:local/root "../../components/lib"}
        poly/migrator                 {:local/root "../../components/migrator"}
        poly/path-finder              {:local/root "../../components/path-finder"}
        poly/sh                       {:local/root "../../components/sh"}
        poly/shell                    {:local/root "../../components/shell"}
        poly/tap                      {:local/root "../../components/tap"}
        poly/test-runner-contract     {:local/root "../../components/test-runner-contract"}
        poly/test-runner-orchestrator {:local/root "../../components/test-runner-orchestrator"}
        poly/text-table               {:local/root "../../components/text-table"}
        poly/user-config              {:local/root "../../components/user-config"}
        poly/user-input               {:local/root "../../components/user-input"}
        poly/util                     {:local/root "../../components/util"}
        poly/validator                {:local/root "../../components/validator"}
        poly/version                  {:local/root "../../components/version"}
        poly/workspace                {:local/root "../../components/workspace"}
        poly/workspace-clj            {:local/root "../../components/workspace-clj"}
        poly/ws-explorer              {:local/root "../../components/ws-explorer"}
        poly/ws-file                  {:local/root "../../components/ws-file"}
        poly/poly-cli                 {:local/root "../../bases/poly-cli"}

        org.clojure/clojure {:mvn/version "1.11.1"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.7"}}

 ;; so poly can be installed as a tool:
 :tools/usage {:ns-default polylith.clj.core.poly-cli.api}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {poly/test-helper {:local/root "../../components/test-helper"}}}

           :uberjar {:main polylith.clj.core.poly-cli.core}

           :jar {:jar-file "target/poly-thin.jar"}}}
