{:paths ["src" "resources"]
 :deps {compojure/compojure {:mvn/version "1.7.1"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        ring/ring {:mvn/version "1.11.0"}
        slacker/slacker {:mvn/version "0.17.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
