{:paths   [; Base
           "../../bases/tool/src"

           ; Components
           "../../components/change/src"
           "../../components/common/src"
           "../../components/deps/src"
           "../../components/file/src"
           "../../components/git/src"
           "../../components/shell/src"
           "../../components/spec/src"
           "../../components/test/src"
           "../../components/util/src"
           "../../components/validate/src"
           "../../components/workspace/src"
           "../../components/workspace-clj/src"]

 :deps    {org.clojure/clojure          {:mvn/version "1.10.1"}
           org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}}

 :aliases {:test    {:extra-paths [;Base
                                   "../../bases/tool/test"

                                   ; Components
                                   "../../components/change/test"
                                   "../../components/common/test"
                                   "../../components/deps/test"
                                   "../../components/file/test"
                                   "../../components/git/test"
                                   "../../components/shell/test"
                                   "../../components/spec/test"
                                   "../../components/test/test"
                                   "../../components/util/test"
                                   "../../components/validate/test"
                                   "../../components/workspace/test"
                                   "../../components/workspace-clj/test"]
                     :extra-deps  {}}

           :aot     {:extra-paths ["classes"]
                     :main-opts   ["-e" "(compile,'polylith.tool.poly)"]}

           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.10"}}
                     :main-opts  ["-m" "uberdeps.uberjar"]}}}
