
{:paths   ["../../components/change/src"
           "../../components/common/src"
           "../../components/deps/src"
           "../../components/path-finder/src"
           "../../components/file/src"
           "../../components/git/src"
           "../../components/lib-dep/src"
           "../../components/shell/src"
           "../../components/text-table/src"
           "../../components/user-config/src"
           "../../components/user-input/src"
           "../../components/util/src"
           "../../components/validator/src"
           "../../components/workspace/src"]

 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}
           me.raynes/fs {:mvn/version "1.4.6"}}

 :aliases {:test    {:extra-paths []
                     :extra-deps  {}}

           :aot     {:extra-paths ["classes"]
                     :main-opts   ["-e" "(compile,'polylith.clj.core.workspace.interface)"]}

           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.10"}}
                     :main-opts  ["-m" "uberdeps.uberjar"]}}}
