
{:paths   [; Base
           "../../bases/cli/src"

           ; Components
           "../../components/change/src"
           "../../components/common/src"
           "../../components/deps/src"
           "../../components/file/src"
           "../../components/git/src"
           "../../components/shell/src"
           "../../components/spec/src"
           "../../components/test-runner/src"
           "../../components/util/src"
           "../../components/validate/src"
           "../../components/workspace/src"
           "../../components/workspace-clj/src"
           "../../components/workspace-kotlin/src"]

 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}
           org.jetbrains.kotlin/kotlin-compiler-embeddable {:mvn/version "1.3.72"}}
           ;kotlin/src-reader {:local/root "/Users/tengstrand/source/polylith-kotlin/build/libs/polylith-kotlin.jar"}}

 :aliases {:test    {:extra-paths [;Bases
                                   "../../bases/cli/test"

                                   ; Components
                                   "../../components/change/test"
                                   "../../components/common/test"
                                   "../../components/deps/test"
                                   "../../components/file/test"
                                   "../../components/git/test"
                                   "../../components/shell/test"
                                   "../../components/spec/test"
                                   "../../components/test-runner/test"
                                   "../../components/util/test"
                                   "../../components/validate/test"
                                   "../../components/workspace/test"
                                   "../../components/workspace-clj/test"
                                   "../../components/workspace-kotlin/test"]
                     :extra-deps  {}}

           :aot     {:extra-paths ["classes"]
                     :main-opts   ["-e" "(compile,'polylith.cli.poly)"]}

           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.10"}}
                     :main-opts  ["-m" "uberdeps.uberjar"]}}}
