{:paths [:src-paths :resources-path]
 :deps {}
 :aliases {:src-paths ["clj" "cljc"]
           :resources-path ["resources"]
           :test-paths ["test" "test2"]
           :test {:extra-paths [:test-paths]
                  :extra-deps {}}}}
