{:deps {:aliases [:dev :test]}

 :fs-watch {:hawk false}

 :nrepl {:write-port-file true}

 :builds {:cljs-project
          {:target :browser
           :output-dir "projects/cljs-project/resources/cljs_project/public/js"
           :asset-path "/js"

           :modules {:main {:init-fn com.example.cljs-base.core/init}}

           :compiler-options {:shadow-keywords true}

           :devtools {:http-root "projects/cljs-project/resources/cljs_project/public"
                      :http-port 3000}}

          :test
          {:target :browser-test
           :test-dir "out/test"
           :ns-regexp "-test$"
           :compiler-options {:static-fns false}
           :js-options {:resolve {"http2" false}}
           :devtools {:http-root "out/test"
                      :http-port 3001}}

          :test-ci
          {:target :karma
           :output-to "out/test-ci/ci.js"
           :ns-regexp "-test$"
           :compiler-options {:static-fns false}
           :js-options {:resolve {"http2" false}}}}}
