{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps {shared/util  {:local/root "components/util"}
                               shared2/util {:local/root "../shared2/components/util"}

                               org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:local/root "../../../projects/poly"}}}}}
