{:paths     ["resources"]

 :deps {poly/comp-clj-cljc-cljs {:local/root "../../components/comp-clj-cljc-cljs"}
        poly/comp-cljc {:local/root "../../components/comp-cljc"}
        poly/comp-cljs-cljc {:local/root "../../components/comp-cljs-cljc"}
        poly/comp-cljs-only {:local/root "../../components/comp-cljs-only"}
        poly/comp-cljs-with-macros {:local/root "../../components/comp-cljs-with-macros"}

        poly/cljs-base {:local/root "../../bases/cljs-base"}
        
        org.clojure/clojure {:mvn/version "1.12.0"}}

 :aliases {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.28.15"}
                              binaryage/devtools {:mvn/version "1.0.7"}}}
           
           :test {:extra-paths ["../../components/comp-clj-cljc-cljs/test"
                                "../../components/comp-cljc/test"
                                "../../components/comp-cljs-cljc/test"
                                "../../components/comp-cljs-only/test"
                                "../../components/comp-cljs-with-macros/test"

                                "../../bases/cljs-base/test"]
                  :extra-deps  {}}}}
