{:paths ["../../components/common/src"
         "../../components/file/src"
         "../../components/migrator/src"
         "../../components/user-config/src"
         "../../components/util/src"
         "../../components/version/src"
         "../../bases/migrator-cli/src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}
        me.raynes/fs {:mvn/version "1.4.6"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}

           :aot     {:extra-paths ["classes"]
                     :main-opts   ["-e" "(compile,'polylith.clj.core.migrator-cli.core)"]}

           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.10"}}
                     :main-opts  ["-m" "uberdeps.uberjar"
                                  "--aliases" "aot"
                                  "--main-class" "polylith.clj.core.migrator_cli.core"
                                  "--target" "./target/poly-migrator.jar"]}

           :skinny-jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                      :sha "0e8731e0f24db05b74769e219051b0e92b50624a"}}
                        :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "target/poly-migrator-skinny.jar"]}}}
