{:deps {poly/common        {:local/root "../../components/common"}
        poly/file          {:local/root "../../components/file"}
        poly/migrator      {:local/root "../../components/migrator"}
        poly/user-config   {:local/root "../../components/user-config"}
        poly/util          {:local/root "../../components/util"}
        poly/version       {:local/root "../../components/version"}
        poly/migrator-cli  {:local/root "../../bases/migrator-cli"}

        org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases {:uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aot true, :main-class polylith.clj.core.migrator_cli.core}}

           :skinny-jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                      :sha "0e8731e0f24db05b74769e219051b0e92b50624a"}}
                        :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "target/poly-migrator-skinny.jar"]}}}
