{:deps {poly/a-okay     {:local/root "../../components/a-okay"}
        poly/b-fail     {:local/root "../../components/b-fail"}
        poly/exclude-me {:local/root "../../components/exclude-me"}
        poly/util       {:local/root "../../components/util"}
        org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/tools.deps {:mvn/version "0.18.1398"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
