{:mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}

 :paths ["../../components/database/src"
         "../../components/database/resources"
         "../../components/datomic-ions/src"
         "../../components/invoicer/src"
         "../../components/invoicer/resources"
         "../../components/util/src"
         "../../bases/invoicer-cli/src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps {:mvn/version "0.16.1264"}
        clj-time/clj-time {:git/url "https://github.com/clj-time/clj-time.git"
                           :sha "d9ed4e46c6b42271af69daa1d07a6da2df455fab"}}

 :aliases {:test {:extra-paths ["../../components/database/test"
                                "../../components/invoicer/test"
                                "../../components/test-helper/src"
                                "../../components/test-helper/test"
                                "../../components/test-helper-db/src"
                                "../../components/util/test"
                                "../../components/without-src/test"
                                "../../bases/invoicer-cli/test"]
                  :extra-deps  {migrate-me/migrate-me {:local/root "../../migrate-me"}}}}}
