{:cljdoc.tree [["Readme" {:file "../readme.adoc"}]
               ["Install" {:file "install.adoc"}]
               ["Upgrade" {:file "upgrade.adoc"}]
               ["Migrate" {:file "migrate.adoc"}]
               ["Example systems" {:file "example-systems.adoc"}]
               ["Workspace" {:file "workspace.adoc"}]
               ["Development" {:file "development.adoc"}]
               ["Component" {:file "component.adoc"}]
               ["Interface" {:file "interface.adoc"}]
               ["Base" {:file "base.adoc"}]
               ["Project" {:file "project.adoc"}]
               ["Shell" {:file "shell.adoc"}]
               ["Polyx" {:file "polyx.adoc"}]
               ["Tap" {:file "tap.adoc"}]
               ["Tools.deps" {:file "tools-deps.adoc"}]
               ["Build" {:file "build.adoc"}]
               ["Git" {:file "git.adoc"}]
               ["Tagging" {:file "tagging.adoc"}]
               ["Continuous Integration" {:file "continuous-integration.adoc"}]
               ["Flags" {:file "flags.adoc"}]
               ["Testing" {:file "testing.adoc"}]
               ["Profile" {:file "profile.adoc"}]
               ["Dependencies" {:file "dependencies.adoc"}]
               ["Libraries" {:file "libraries.adoc"}]
               ["Configuration" {:file "configuration.adoc"}]
               ["Validations" {:file "validations.adoc"}]
               ["Source code" {:file "source-code.adoc"}]
               ["Explore the workspace" {:file "explore-the-workspace.adoc"}]
               ["Clojure CLI tool" {:file "clojure-cli-tool.adoc"}]
               ["Commands" {:file "commands.adoc"}]
               ["Workspace structure" {:file "workspace-structure.adoc"}]
               ["Misc" {:file "misc.adoc"}]]}
