{:cljdoc.doc/tree [["Readme" {:file "readme.adoc"}]
                   ["Introduction" {:file "doc/introduction.adoc"}]
                   ["Install" {:file "doc/install.adoc"}]
                   ["Upgrade" {:file "doc/upgrade.adoc"}]
                   ["Migrate" {:file "doc/migrate.adoc"}]
                   ["Example systems" {:file "doc/example-systems.adoc"}]
                   ["Workspace" {:file "doc/workspace.adoc"}]
                   ["Development" {:file "doc/development.adoc"}]
                   ["Component" {:file "doc/component.adoc"}]
                   ["Interface" {:file "doc/interface.adoc"}]
                   ["Base" {:file "doc/base.adoc"}]
                   ["Project" {:file "doc/project.adoc"}]
                   ["Shell" {:file "doc/shell.adoc"}]
                   ["Doc" {:file "doc/doc.adoc"}]
                   ["Tap" {:file "doc/tap.adoc"}]
                   ["Tools.deps" {:file "doc/tools-deps.adoc"}]
                   ["Build" {:file "doc/build.adoc"}]
                   ["Git" {:file "doc/git.adoc"}]
                   ["Tagging" {:file "doc/tagging.adoc"}]
                   ["Flags" {:file "doc/flags.adoc"}]
                   ["Testing" {:file "doc/testing.adoc"}]
                   ["Test Runners" {:file "doc/test-runners.adoc"}]
                   ["Profile" {:file "doc/profile.adoc"}]
                   ["Dependencies" {:file "doc/dependencies.adoc"}]
                   ["Libraries" {:file "doc/libraries.adoc"}]
                   ["Configuration" {:file "doc/configuration.adoc"}]
                   ["Validations" {:file "doc/validations.adoc"}]
                   ["Source code" {:file "doc/source-code.adoc"}]
                   ["Artifacts" {:file "doc/artifacts.adoc"}]
                   ["Explore the workspace" {:file "doc/explore-the-workspace.adoc"}]
                   ["Clojure CLI tool" {:file "doc/clojure-cli-tool.adoc"}]
                   ["Polyx" {:file "doc/polyx.adoc"}]
                   ["Naming" {:file "doc/naming.adoc"}]
                   ["Context" {:file "doc/context.adoc"}]
                   ["Git hooks" {:file "doc/git-hooks.adoc"}]
                   ["Colors" {:file "doc/colors.adoc"}]
                   ["Developing poly" {:file "doc/developing-poly.adoc"}]
                   ["CI" {}
                    ["Continuous Integration" {:file "doc/continuous-integration.adoc"}]
                    ["Polylith CI setup" {:file "doc/polylith-ci-setup.adoc"}]]
                   ["Reference" {}
                    ["Commands" {:file "doc/commands.adoc"}]
                    ["Workspace structure" {:file "doc/workspace-structure.adoc"}]]
                   ["Contact" {:file "doc/contact.adoc"}]
                   ["License" {:file "doc/license.adoc"}]]}
