{:cljdoc.doc/tree [["Readme" {:file "readme.adoc"}]
                   ["Install" {:file "doc/install.adoc"}]
                   ["Upgrade" {:file "doc/upgrade.adoc"}]
                   ["Migrate" {:file "doc/migrate.adoc"}]
                   ["Example systems" {:file "doc/example-systems.adoc"}]
                   ["Workspace" {:file "doc/workspace.adoc"}]
                   ["Development" {:file "doc/development.adoc"}]
                   ["Component" {:file "doc/component.adoc"}]
                   ["Interface" {:file "doc/interface.adoc"}]
                   ["Base" {:file "doc/base.adoc"}]
                   ["Project" {:file "doc/project.adoc"}]
                   ["Shell" {:file "doc/shell.adoc"}]
                   ["Polyx" {:file "doc/polyx.adoc"}]
                   ["Tap" {:file "doc/tap.adoc"}]
                   ["Tools.deps" {:file "doc/tools-deps.adoc"}]]}
