{:deps {poly/invoicer {:local/root "../../components/invoicer"}
        poly/test-setup {:local/root "../../components/test-setup"}

        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:test {:extra-paths []
                  :extra-deps {}}}}
