{:deps {poly/user {:local/root "../../components/user"}
        poly/cli {:local/root "../../bases/cli"}

        org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.deps {:mvn/version "0.12.1003"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
