{:vcs                  "git"
 :top-namespace        "clojure.realworld"
 :interface-ns         "interface"
 :default-profile-name "default"
 :compact-views        #{}
 :release-tag-pattern  "v[0-9]*"
 :stable-tag-pattern   "stable-*"
 :projects {"development" {:alias "dev"}
            "realworld-backend" {:alias "rb"}}}
