{:aliases  {:dev {:extra-paths ["development/src"
                                "components/user/src"
                                "components/user/resources"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                               org.clojure/tools.deps {:mvn/version "0.12.1003"}}}

            :test {:extra-paths ["components/user/test"]}

            :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.5.1" :git/sha "dc121d6"}}
                    :ns-default build}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "78b2c77c56d1b41109d68b451069affac935200e"
                                 :deps/root "projects/poly"}}}}}
