{:aliases  {:dev {:extra-paths ["development/src"
                                "components/user/src"
                                "components/user/resources"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                               org.clojure/tools.deps {:mvn/version "0.16.1281"}}}

            :test {:extra-paths ["components/user/test"]}

            :build {:deps {org.clojure/tools.deps {:mvn/version "0.16.1281"}
                           io.github.clojure/tools.build {:mvn/version "0.9.4"}}
                    :paths ["build/resources"]
                    :ns-default build}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "78b2c77c56d1b41109d68b451069affac935200e"
                                 :deps/root "projects/poly"}}}}}
