{:top-namespace "se.example"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :vcs {:name "git"
       :auto-add true}
 :release-tag-pattern "v[0-9]*"
 :stable-tag-pattern "stable-*"
 :projects {"development" {:alias "dev"}
            "command-line" {:alias "cl"
                            :test {:setup-fn project.command-line.test-setup/test-setup
                                   :teardown-fn project.command-line.test-setup/test-teardown}}
            "user-service" {:alias "user-s"}}}
