{:aliases  {:dev {:extra-paths ["development/src"
                                "components/company/clj"
                                "components/company/cljc"
                                "components/company/resources"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths ["components/company/test"
                                 "components/company/test2"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "75140d3101805331ba40b7982a69702b11a858e8"
                                 :deps/root "projects/poly"}}}}}
