{:vcs {:auto-add false
       :name "git"}
 :top-namespace "com.for.test"
 :interface-ns "interface"
 :default-profile-name "default"
 :config-filename "config.edn"
 :compact-views #{}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}
 :projects {"development" {:alias "dev"}

            "failing-test" {:alias "failing"
                            :necessary ["a-okay" "b-fail" "util"]
                            :test {:exclude ["exclude-me"]
                                   :setup-fn project.failing-test.test-setup/setup
                                   :teardown-fn project.failing-test.test-setup/teardown}}

            "failing-test-teardown-fails" {:alias "failing-x2"
                                           :necessary ["a-okay" "b-fail" "util"]
                                           :test {:setup-fn project.failing-test-teardown-fails.test-setup/setup
                                                  :teardown-fn project.failing-test-teardown-fails.test-setup/teardown}}
            "service" {:alias "service"}

            "okay" {:alias "okay"
                    :necessary ["a-okay" "b-fail" "company" "util"]
                    :test {:exclude ["exclude-me"]
                           :setup-fn project.okay.test-setup/setup
                           :teardown-fn project.okay.test-setup/teardown}}

            "setup-fails" {:alias "setup-fails"
                           :necessary ["util"]
                           :test {:setup-fn project.setup-fails.test-setup/setup}
                           :teardown-fn project.setup-fails.test-setup/teardown}}

           "teardown-fails" {:alias "teardown-fails"
                             :necessary ["a-okay" "util"]
                             :test {:setup-fn project.teardown-fails.test-setup/setup}
                             :teardown-fn project.teardown-fails.test-setup/teardown}

           "x-okay" {:alias "x-ok"
                     :necessary ["a-okay" "company" "util"]
                     :test {:exclude ["exclude-me"]
                            :setup-fn project.x-okay.test-setup/setup
                            :teardown-fn project.x-okay.test-setup/teardown}}}
