{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps {poly/cli     {:local/root "bases/cli"}
                               poly/greeter {:local/root "components/greeter"}

                               org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:local/root "../../projects/poly"}}}}}
