{:paths ["src"]
 :deps {clj-commons/fs {:mvn/version "1.6.312"}
        org.clojure/tools.deps {:mvn/version "0.26.1553"}
        borkdude/edamame {:mvn/version "1.5.36"}}
 :aliases {:test {:extra-paths []
                  :extra-deps {}}}}
