{:paths ["src"]
 :deps {clj-commons/fs {:mvn/version "1.6.312"}
        org.clojure/tools.deps {:mvn/version "0.25.1539"}
        borkdude/edamame {:mvn/version "1.4.32"}}
 :aliases {:test {:extra-paths []
                  :extra-deps {}}}}
