{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps {backend/base   {:local/root "bases/cli"}
                               shared/shared {:local/root "shared"}

                               org.clojure/clojure {:mvn/version "1.11.1"}}}

            :+default {:extra-deps {poly/hello {:local/root "backend/components/hello"}}}
            :+howdy   {:extra-deps {poly/hello {:local/root "backend/components/howdy"}}}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:local/root "../../projects/poly"}}}}}
