
{:paths ["../../components/api/src"
         "../../components/change/src"
         "../../components/common/src"
         "../../components/deps/src"
         "../../components/file/src"
         "../../components/git/src"
         "../../components/lib-dep/src"
         "../../components/path-finder/src"
         "../../components/shell/src"
         "../../components/text-table/src"
         "../../components/user-config/src"
         "../../components/user-input/src"
         "../../components/util/src"
         "../../components/validator/src"
         "../../components/workspace/src"
         "../../components/workspace-clj/src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}
        me.raynes/fs {:mvn/version "1.4.6"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
