{:aliases {:dev  {:extra-paths ["development/src"
                                "development/resources"]

                  :extra-deps  {poly+integrant/system                     {:local/root "bases/system"}
                                poly+integrant/config                     {:local/root "components/config"}
                                poly+integrant/embedded-pg                {:local/root "components/embedded-pg"}
                                poly+integrant/pg-ops                     {:local/root "components/pg-ops"}

                                integrant/repl                            {:mvn/version "0.3.3"}

                                org.clojure/clojure                       {:mvn/version "1.11.1"}
                                org.clojure/tools.logging                 {:mvn/version "1.2.4"}

                                org.apache.logging.log4j/log4j-api        {:mvn/version "2.23.1"}
                                org.apache.logging.log4j/log4j-core       {:mvn/version "2.23.1"}
                                org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.23.1"}}}

           :test {:extra-paths ["bases/system/test"]}

           :poly {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly {:local/root "../../projects/poly"}}}}}
