{:top-namespace "direct.ref"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :dialects ["clj"]
 :vcs {:name "git"
       :auto-add false}
 :tag-patterns {:stable "^stable-.*"
                :release "^v[0-9].*"}
 :validations {:inconsistent-lib-versions {:type :warning
                                           :exclude []}}
 :projects {"development" {:alias "dev"}
            "system" {:alias "sys"}}}
