{:paths   ["src" "resources"]
 :deps    {com.zaxxer/HikariCP         {:mvn/version "5.1.0"}
           integrant/integrant         {:mvn/version "0.10.0"}
           org.clojure/tools.logging   {:mvn/version "1.2.4"}
           org.clojure/tools.namespace {:mvn/version "1.3.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
