
{:paths   [; Components
           "../../components/change/src"
           "../../components/command/src"
           "../../components/common/src"
           "../../components/create/src"
           "../../components/create/resources"
           "../../components/deps/src"
           "../../components/env-reloader/src"
           "../../components/file/src"
           "../../components/git/src"
           "../../components/help2/src"
           "../../components/newcomp/src"
           "../../components/shell/src"
           "../../components/test-helper/src"
           "../../components/test-runner/src"
           "../../components/text-table/src"
           "../../components/user-config/src"
           "../../components/util/src"
           "../../components/validate/src"
           "../../components/workspace/src"
           "../../components/workspace-clj/src"

           ; Base
           "../../bases/cli/src"]

 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}
           net.mikera/core.matrix {:mvn/version "0.62.0"}}

 :aliases {:test    {:extra-paths [; Components
                                   "../../components/change/test"
                                   "../../components/command/test"
                                   "../../components/common/test"
                                   "../../components/create/test"
                                   "../../components/create/resources"
                                   "../../components/deps/test"
                                   "../../components/env-reloader/test"
                                   "../../components/file/test"
                                   "../../components/git/test"
                                   "../../components/help2/test"
                                   "../../components/newcomp/test"
                                   "../../components/shell/test"
                                   "../../components/test-helper/test"
                                   "../../components/test-runner/test"
                                   "../../components/text-table/test"
                                   "../../components/user-config/test"
                                   "../../components/util/test"
                                   "../../components/validate/test"
                                   "../../components/workspace/test"
                                   "../../components/workspace-clj/test"

                                   ; Bases
                                   "../../bases/cli/test"]
                     :extra-deps  {}}

           :aot     {:extra-paths ["classes"]
                     :main-opts   ["-e" "(compile,'polylith.clj.core.cli.poly)"]}

           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.10"}}
                     :main-opts  ["-m" "uberdeps.uberjar"]}}}
