{:alias "multiple"
 :necessary ["invoicer"]
 :test {:create-test-runner [:default
                             polylith-kaocha.test-runner/create
                             org.corfield.external-test-runner.interface/create]}}