{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps {poly/cli      {:local/root "bases/cli"}
                               poly/user-api {:local/root "bases/user-api"}

                               org.clojure/clojure {:mvn/version "1.11.1"}
                               org.apache.logging.log4j/log4j-core {:mvn/version "2.13.3"}
                               org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.13.3"}}}

            :test {:extra-paths ["bases/cli/test"
                                 "bases/user-api/test"
                                 "projects/command-line/test"]}

            :+default {:extra-deps {poly/user {:local/root "components/user"}}
                       :extra-paths ["components/user/test"]}

            :+remote {:extra-deps {poly/user-remote {:local/root "components/user-remote"}}
                      :extra-paths ["components/user-remote/test"]}

            :build {:deps {org.clojure/tools.deps {:mvn/version "0.16.1281"}
                           io.github.clojure/tools.build {:mvn/version "0.9.5"}
                           ;; because we use log4j 2.x:
                           io.github.seancorfield/build-uber-log4j2-handler {:git/tag "v0.1.5" :git/sha "55fb6f6"}}
                    :paths ["build/resources"]
                    :ns-default build}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.18-SNAPSHOT"}}}}}
