{:interfaces
 [{:name "user",
   :type "interface",
   :definitions
   [{:name "hello", :type "function", :arglist [{:name "name"}]}],
   :implementing-components ["user" "user-remote"]}],
 :projects
 [{:lines-of-code {:src 0, :test 13, :total {:src 42, :test 26}},
   :deps-filename
   "/private/var/folders/mf/q49xxkyd6017dvkkw7r2jlxr0000gn/T/polylith-example-2025-12-29-142244/ws/example/projects/command-line/deps.edn",
   :namespaces
   {:test
    [{:name "project.command-line.test-setup",
      :namespace "project.command-line.test-setup",
      :file-path
      "projects/command-line/test/project/command_line/test_setup.clj",
      :imports ["clojure.test"]}
     {:name "project.command-line.dummy-test",
      :namespace "project.command-line.dummy_test",
      :file-path
      "projects/command-line/test/project/command_line/dummy_test.clj",
      :imports ["clojure.test"]}]},
   :base-names {:src ["cli"], :test ["cli"]},
   :lib-imports {:src ["slacker.client"], :test ["clojure.test"]},
   :is-dev false,
   :bricks-to-test-all-sources ["cli" "user-remote"],
   :name "command-line",
   :project-lib-deps
   {:src
    {"org.clojure/clojure"
     {:version "1.12.0", :type "maven", :size 4227052},
     "org.apache.logging.log4j/log4j-core"
     {:version "2.13.3", :type "maven", :size 1714164},
     "org.apache.logging.log4j/log4j-slf4j-impl"
     {:version "2.13.3", :type "maven", :size 23590}},
    :test {}},
   :source-types #{"clj"},
   :paths
   {:src
    ["bases/cli/resources"
     "bases/cli/src"
     "components/user-remote/resources"
     "components/user-remote/src"],
    :test
    ["bases/cli/test"
     "components/user-remote/test"
     "projects/command-line/test"]},
   :type "project",
   :indirect-changes {:src ["cli"], :test ["cli"]},
   :maven-repos
   {"central" {:url "https://repo1.maven.org/maven2/"},
    "clojars" {:url "https://repo.clojars.org/"}},
   :alias "cl",
   :project-dir
   "/private/var/folders/mf/q49xxkyd6017dvkkw7r2jlxr0000gn/T/polylith-example-2025-12-29-142244/ws/example/projects/command-line",
   :lib-deps
   {:src
    {"org.clojure/clojure"
     {:version "1.12.0", :type "maven", :size 4227052},
     "org.apache.logging.log4j/log4j-core"
     {:version "2.13.3", :type "maven", :size 1714164},
     "org.apache.logging.log4j/log4j-slf4j-impl"
     {:version "2.13.3", :type "maven", :size 23590},
     "compojure/compojure"
     {:version "1.6.2", :type "maven", :size 15172},
     "http-kit/http-kit"
     {:version "2.4.0", :type "maven", :size 191467},
     "ring/ring" {:version "1.8.1", :type "maven", :size 4621},
     "slacker/slacker"
     {:version "0.17.0", :type "maven", :size 28408}}},
   :projects-to-test [],
   :component-names {:src ["user-remote"], :test ["user-remote"]},
   :test
   {:create-test-runner
    [polylith.clj.core.clojure-test-test-runner.interface/create]},
   :bricks-to-test ["cli" "user-remote"],
   :deps
   {"cli"
    {:src {:direct ["user-remote"]}, :test {:direct ["user-remote"]}},
    "user-remote" {:src {}, :test {}}}}
  {:lines-of-code {:src 0, :test 0, :total {:src 44, :test 28}},
   :deps-filename
   "/private/var/folders/mf/q49xxkyd6017dvkkw7r2jlxr0000gn/T/polylith-example-2025-12-29-142244/ws/example/projects/user-service/deps.edn",
   :namespaces {},
   :base-names {:src ["user-api"], :test ["user-api"]},
   :lib-imports {:src ["slacker.server"], :test ["clojure.test"]},
   :is-dev false,
   :bricks-to-test-all-sources ["user" "user-api"],
   :name "user-service",
   :project-lib-deps
   {:src
    {"org.clojure/clojure"
     {:version "1.12.0", :type "maven", :size 4227052},
     "org.apache.logging.log4j/log4j-core"
     {:version "2.13.3", :type "maven", :size 1714164},
     "org.apache.logging.log4j/log4j-slf4j-impl"
     {:version "2.13.3", :type "maven", :size 23590}},
    :test {}},
   :source-types #{},
   :paths
   {:src
    ["bases/user-api/resources"
     "bases/user-api/src"
     "components/user/resources"
     "components/user/src"],
    :test ["bases/user-api/test" "components/user/test"]},
   :type "project",
   :indirect-changes {:src [], :test []},
   :maven-repos
   {"central" {:url "https://repo1.maven.org/maven2/"},
    "clojars" {:url "https://repo.clojars.org/"}},
   :alias "user-s",
   :project-dir
   "/private/var/folders/mf/q49xxkyd6017dvkkw7r2jlxr0000gn/T/polylith-example-2025-12-29-142244/ws/example/projects/user-service",
   :lib-deps
   {:src
    {"org.clojure/clojure"
     {:version "1.12.0", :type "maven", :size 4227052},
     "org.apache.logging.log4j/log4j-core"
     {:version "2.13.3", :type "maven", :size 1714164},
     "org.apache.logging.log4j/log4j-slf4j-impl"
     {:version "2.13.3", :type "maven", :size 23590},
     "slacker/slacker"
     {:version "0.17.0", :type "maven", :size 28408}}},
   :projects-to-test [],
   :component-names {:src ["user"], :test ["user"]},
   :test
   {:create-test-runner
    [polylith.clj.core.clojure-test-test-runner.interface/create]},
   :bricks-to-test ["user" "user-api"],
   :deps
   {"user-api" {:src {:direct ["user"]}, :test {:direct ["user"]}},
    "user" {:src {}, :test {}}}}
  {:lines-of-code {:src 4, :test 0, :total {:src 58, :test 42}},
   :deps-filename
   "/private/var/folders/mf/q49xxkyd6017dvkkw7r2jlxr0000gn/T/polylith-example-2025-12-29-142244/ws/example/deps.edn",
   :namespaces
   {:src
    [{:name "dev.lisa",
      :namespace "dev.lisa",
      :file-path "development/src/dev/lisa.clj",
      :imports ["slacker.client"]}]},
   :base-names {:src ["cli" "user-api"], :test ["cli" "user-api"]},
   :lib-imports {:src ["slacker.server"], :test ["clojure.test"]},
   :is-dev true,
   :bricks-to-test-all-sources [],
   :name "development",
   :project-lib-deps
   {:src
    {"org.clojure/clojure"
     {:version "1.12.0", :type "maven", :size 4227052},
     "org.apache.logging.log4j/log4j-core"
     {:version "2.13.3", :type "maven", :size 1714164},
     "org.apache.logging.log4j/log4j-slf4j-impl"
     {:version "2.13.3", :type "maven", :size 23590}},
    :test {}},
   :source-types #{"clj"},
   :paths
   {:src
    ["bases/cli/resources"
     "bases/cli/src"
     "bases/user-api/resources"
     "bases/user-api/src"
     "components/user/resources"
     "components/user/src"
     "development/src"],
    :test
    ["bases/cli/test"
     "bases/user-api/test"
     "components/user/test"
     "projects/command-line/test"]},
   :type "project",
   :indirect-changes {:src [], :test []},
   :maven-repos
   {"central" {:url "https://repo1.maven.org/maven2/"},
    "clojars" {:url "https://repo.clojars.org/"}},
   :alias "dev",
   :project-dir
   "/private/var/folders/mf/q49xxkyd6017dvkkw7r2jlxr0000gn/T/polylith-example-2025-12-29-142244/ws/example/development",
   :unmerged
   {:paths
    {:src
     ["bases/cli/resources"
      "bases/cli/src"
      "bases/user-api/resources"
      "bases/user-api/src"
      "development/src"],
     :test
     ["bases/cli/test"
      "bases/user-api/test"
      "projects/command-line/test"]},
    :lib-deps
    {:src
     {"org.clojure/clojure"
      {:version "1.12.0", :type "maven", :size 4227052},
      "org.apache.logging.log4j/log4j-core"
      {:version "2.13.3", :type "maven", :size 1714164},
      "org.apache.logging.log4j/log4j-slf4j-impl"
      {:version "2.13.3", :type "maven", :size 23590},
      "slacker/slacker"
      {:version "0.17.0", :type "maven", :size 28408}}}},
   :lib-deps
   {:src
    {"org.clojure/clojure"
     {:version "1.12.0", :type "maven", :size 4227052},
     "org.apache.logging.log4j/log4j-core"
     {:version "2.13.3", :type "maven", :size 1714164},
     "org.apache.logging.log4j/log4j-slf4j-impl"
     {:version "2.13.3", :type "maven", :size 23590},
     "slacker/slacker"
     {:version "0.17.0", :type "maven", :size 28408}}},
   :projects-to-test [],
   :component-names {:src ["user"], :test ["user"]},
   :test
   {:create-test-runner
    [polylith.clj.core.clojure-test-test-runner.interface/create]},
   :bricks-to-test [],
   :deps
   {"cli" {:src {:direct ["user"]}, :test {:direct ["user"]}},
    "user-api" {:src {:direct ["user"]}, :test {:direct ["user"]}},
    "user" {:src {}, :test {}}}}],
 :libraries
 [{:name "compojure/compojure",
   :version "1.6.2",
   :size 15172,
   :type "maven"}
  {:name "http-kit/http-kit",
   :version "2.4.0",
   :size 191467,
   :type "maven"}
  {:name "org.apache.logging.log4j/log4j-core",
   :version "2.13.3",
   :size 1714164,
   :type "maven"}
  {:name "org.apache.logging.log4j/log4j-slf4j-impl",
   :version "2.13.3",
   :size 23590,
   :type "maven"}
  {:name "org.clojure/clojure",
   :version "1.12.0",
   :size 4227052,
   :type "maven"}
  {:name "ring/ring", :version "1.8.1", :size 4621, :type "maven"}
  {:name "slacker/slacker",
   :version "0.17.0",
   :size 28408,
   :type "maven"}],
 :ws-dir
 "/private/var/folders/mf/q49xxkyd6017dvkkw7r2jlxr0000gn/T/polylith-example-2025-12-29-142244/ws/example",
 :name "example",
 :user-input
 {:args ["ws" "out:ws.edn"],
  :is-hide-lib-size false,
  :unnamed-args [],
  :is-dev false,
  :is-commit false,
  :is-run-project-tests false,
  :is-compact false,
  :is-fail-if-nothing-to-test false,
  :is-run-all-brick-tests false,
  :is-show-dialect false,
  :is-fake-poly false,
  :is-verbose false,
  :is-latest-sha false,
  :selected-projects #{},
  :is-update false,
  :is-github false,
  :is-no-changes false,
  :is-search-for-ws-dir false,
  :is-swap-axes false,
  :is-outdated false,
  :is-local false,
  :out "ws.edn",
  :is-show-brick false,
  :is-show-resources false,
  :is-transparent false,
  :selected-profiles #{},
  :cmd "ws",
  :is-show-project false,
  :is-all false,
  :is-show-workspace false,
  :is-tap false,
  :is-show-loc false,
  :is-no-exit false},
 :settings
 {:user-config-filename
  "/Users/tengstrand/.config/polylith/config.edn",
  :top-namespace "se.example",
  :default-profile-name "default",
  :thousand-separator ",",
  :user-home "/Users/tengstrand",
  :compact-views #{},
  :active-profiles #{"default"},
  :interface-ns "interface",
  :vcs
  {:name "git",
   :is-git-repo true,
   :branch "master",
   :git-root
   "/private/var/folders/mf/q49xxkyd6017dvkkw7r2jlxr0000gn/T/polylith-example-2025-12-29-142244/ws/example",
   :auto-add true,
   :stable-since
   {:tag "stable-lisa",
    :sha "61cb60146bc2c79324a664eee821d7b8f722dacd"},
   :polylith
   {:repo "https://github.com/polyfy/polylith.git", :branch "master"}},
  :tag-patterns {:stable "^stable-.*", :release "^v[0-9].*"},
  :m2-dir "/Users/tengstrand/.m2",
  :color-mode "dark",
  :empty-character "."},
 :ws-reader
 {:name "polylith-clj",
  :project-url "https://github.com/polyfy/polylith",
  :language "Clojure",
  :type-position "postfix",
  :file-extensions ["clj" "cljs" "cljc"]},
 :paths
 {:existing
  ["bases/cli/resources"
   "bases/cli/src"
   "bases/cli/test"
   "bases/user-api/resources"
   "bases/user-api/src"
   "bases/user-api/test"
   "components/user-remote/resources"
   "components/user-remote/src"
   "components/user-remote/test"
   "components/user/resources"
   "components/user/src"
   "components/user/test"
   "development/src"
   "projects/command-line/test"],
  :missing [],
  :on-disk
  ["bases/cli/resources"
   "bases/cli/src"
   "bases/cli/test"
   "bases/user-api/resources"
   "bases/user-api/src"
   "bases/user-api/test"
   "components/user-remote/resources"
   "components/user-remote/src"
   "components/user-remote/test"
   "components/user/resources"
   "components/user/src"
   "components/user/test"
   "projects/command-line/target"
   "projects/command-line/test"
   "projects/user-service/target"]},
 :ws-type "toolsdeps2",
 :ws-dialects #{"clj"},
 :messages [],
 :components
 [{:lines-of-code {:src 9, :test 7},
   :interface
   {:name "user",
    :definitions
    [{:name "hello", :type "function", :arglist [{:name "name"}]}]},
   :namespaces
   {:src
    [{:name "interface",
      :namespace "se.example.user.interface",
      :file-path "components/user/src/se/example/user/interface.clj",
      :imports ["se.example.user.core"]}
     {:name "core",
      :namespace "se.example.user.core",
      :file-path "components/user/src/se/example/user/core.clj",
      :imports []}],
    :test
    [{:name "interface-test",
      :namespace "se.example.user.interface-test",
      :file-path
      "components/user/test/se/example/user/interface_test.clj",
      :imports ["clojure.test" "se.example.user.interface"]}]},
   :lib-imports {:test ["clojure.test"]},
   :name "user",
   :source-types #{"clj"},
   :paths {:src ["src" "resources"], :test ["test"]},
   :type "component",
   :interface-deps {:src [], :test []},
   :lib-deps {}}
  {:lines-of-code {:src 14, :test 6},
   :interface
   {:name "user",
    :definitions
    [{:name "hello", :type "function", :arglist [{:name "name"}]}]},
   :namespaces
   {:src
    [{:name "interface",
      :namespace "se.example.user.interface",
      :file-path
      "components/user-remote/src/se/example/user/interface.clj",
      :imports ["se.example.user.core"]}
     {:name "core",
      :namespace "se.example.user.core",
      :file-path "components/user-remote/src/se/example/user/core.clj",
      :imports ["slacker.client"]}],
    :test
    [{:name "interface-test",
      :namespace "se.example.user.interface-test",
      :file-path
      "components/user-remote/test/se/example/user/interface_test.clj",
      :imports ["clojure.test" "se.example.user.interface"]}]},
   :lib-imports {:src ["slacker.client"], :test ["clojure.test"]},
   :name "user-remote",
   :source-types #{"clj"},
   :paths {:src ["src" "resources"], :test ["test"]},
   :type "component",
   :interface-deps {:src [], :test []},
   :lib-deps
   {:src
    {"compojure/compojure"
     {:version "1.6.2", :type "maven", :size 15172},
     "http-kit/http-kit"
     {:version "2.4.0", :type "maven", :size 191467},
     "ring/ring" {:version "1.8.1", :type "maven", :size 4621},
     "slacker/slacker"
     {:version "0.17.0", :type "maven", :size 28408}}}}],
 :changes
 {:since "stable",
  :changed-projects ["command-line" "user-service"],
  :changed-bases ["user-api"],
  :since-sha "61cb60146bc2c79324a664eee821d7b8f722dacd",
  :changed-files
  ["bases/user-api/deps.edn"
   "bases/user-api/resources/user-api/.keep"
   "bases/user-api/src/se/example/user_api/core.clj"
   "bases/user-api/test/se/example/user_api/core_test.clj"
   "components/user-remote/deps.edn"
   "components/user-remote/resources/user-remote/.keep"
   "components/user-remote/src/se/example/user/interface.clj"
   "components/user-remote/test/se/example/user/interface_test.clj"
   "deps.edn"
   "projects/command-line/deps.edn"
   "projects/user-service/deps.edn"
   "workspace.edn"],
  :git-diff-command
  "git diff 61cb60146bc2c79324a664eee821d7b8f722dacd --name-only",
  :changed-components ["user-remote"],
  :since-tag "stable-lisa",
  :changed-or-affected-projects
  ["command-line" "development" "user-service"]},
 :profiles
 [{:name "default",
   :type "profile",
   :paths
   ["components/user/resources"
    "components/user/src"
    "components/user/test"],
   :lib-deps {},
   :component-names ["user"],
   :base-names [],
   :project-names []}
  {:name "remote",
   :type "profile",
   :paths
   ["components/user-remote/resources"
    "components/user-remote/src"
    "components/user-remote/test"],
   :lib-deps
   {"compojure/compojure"
    {:version "1.6.2", :type "maven", :size 15172},
    "http-kit/http-kit"
    {:version "2.4.0", :type "maven", :size 191467},
    "ring/ring" {:version "1.8.1", :type "maven", :size 4621},
    "slacker/slacker" {:version "0.17.0", :type "maven", :size 28408}},
   :component-names ["user-remote"],
   :base-names [],
   :project-names []}],
 :version
 {:release
  {:name "0.3.32",
   :tool "poly",
   :major 0,
   :minor 3,
   :patch 32,
   :revision "",
   :date "2025-12-29"},
  :api {:breaking 1, :non-breaking 0},
  :test-runner-api {:breaking 1, :non-breaking 0},
  :ws {:breaking 5, :non-breaking 0}},
 :bases
 [{:lines-of-code {:src 7, :test 7},
   :namespaces
   {:src
    [{:name "core",
      :namespace "se.example.cli.core",
      :file-path "bases/cli/src/se/example/cli/core.clj",
      :imports ["se.example.user.interface"]}],
    :test
    [{:name "core-test",
      :namespace "se.example.cli.core-test",
      :file-path "bases/cli/test/se/example/cli/core_test.clj",
      :imports ["clojure.test" "se.example.cli.core"]}]},
   :lib-imports {:test ["clojure.test"]},
   :name "cli",
   :source-types #{"clj"},
   :paths {:src ["src" "resources"], :test ["test"]},
   :type "base",
   :interface-deps {:src ["user"], :test []},
   :lib-deps {},
   :base-deps {:src [], :test []}}
  {:lines-of-code {:src 13, :test 7},
   :namespaces
   {:src
    [{:name "core",
      :namespace "se.example.user-api.core",
      :file-path "bases/user-api/src/se/example/user_api/core.clj",
      :imports ["se.example.user-api.api" "slacker.server"]}
     {:name "api",
      :namespace "se.example.user-api.api",
      :file-path "bases/user-api/src/se/example/user_api/api.clj",
      :imports ["se.example.user.interface"]}],
    :test
    [{:name "core-test",
      :namespace "se.example.user-api.core-test",
      :file-path
      "bases/user-api/test/se/example/user_api/core_test.clj",
      :imports ["clojure.test" "se.example.user-api.core"]}]},
   :lib-imports {:src ["slacker.server"], :test ["clojure.test"]},
   :name "user-api",
   :source-types #{"clj"},
   :paths {:src ["src" "resources"], :test ["test"]},
   :type "base",
   :interface-deps {:src ["user"], :test []},
   :lib-deps
   {:src
    {"slacker/slacker"
     {:version "0.17.0", :type "maven", :size 28408}}},
   :base-deps {:src [], :test []}}],
 :configs
 {:components
  [{:name "user",
    :type "component",
    :deps
    {:paths ["src" "resources"],
     :deps {},
     :aliases {:test {:extra-paths ["test"], :extra-deps {}}}}}
   {:name "user-remote",
    :type "component",
    :deps
    {:paths ["src" "resources"],
     :deps
     {compojure/compojure {:mvn/version "1.6.2"},
      http-kit/http-kit {:mvn/version "2.4.0"},
      ring/ring {:mvn/version "1.8.1"},
      slacker/slacker {:mvn/version "0.17.0"}},
     :aliases {:test {:extra-paths ["test"], :extra-deps {}}}}}],
  :bases
  [{:name "cli",
    :type "base",
    :deps
    {:paths ["src" "resources"],
     :deps {},
     :aliases {:test {:extra-paths ["test"], :extra-deps {}}}}}
   {:name "user-api",
    :type "base",
    :deps
    {:paths ["src" "resources"],
     :deps {slacker/slacker {:mvn/version "0.17.0"}},
     :aliases {:test {:extra-paths ["test"], :extra-deps {}}}}}],
  :projects
  [{:name "command-line",
    :type "project",
    :deps
    {:deps
     {poly/user-remote {:local/root "../../components/user-remote"},
      poly/cli {:local/root "../../bases/cli"},
      org.clojure/clojure {:mvn/version "1.12.0"},
      org.apache.logging.log4j/log4j-core {:mvn/version "2.13.3"},
      org.apache.logging.log4j/log4j-slf4j-impl
      {:mvn/version "2.13.3"}},
     :aliases
     {:test {:extra-paths ["test"], :extra-deps {}},
      :uberjar {:main se.example.cli.core}}}}
   {:name "development",
    :type "project",
    :deps
    {:aliases
     {:dev
      {:extra-paths ["development/src"],
       :extra-deps
       {poly/cli {:local/root "bases/cli"},
        poly/user-api {:local/root "bases/user-api"},
        org.clojure/clojure {:mvn/version "1.12.0"},
        org.apache.logging.log4j/log4j-core {:mvn/version "2.13.3"},
        org.apache.logging.log4j/log4j-slf4j-impl
        {:mvn/version "2.13.3"}}},
      :test
      {:extra-paths
       ["bases/cli/test"
        "bases/user-api/test"
        "projects/command-line/test"]},
      :+default
      {:extra-deps {poly/user {:local/root "components/user"}},
       :extra-paths ["components/user/test"]},
      :+remote
      {:extra-deps
       {poly/user-remote {:local/root "components/user-remote"}},
       :extra-paths ["components/user-remote/test"]},
      :build
      {:deps
       {org.clojure/tools.deps {:mvn/version "0.16.1281"},
        io.github.clojure/tools.build {:mvn/version "0.10.5"},
        io.github.seancorfield/build-uber-log4j2-handler
        {:git/tag "v0.1.5", :git/sha "55fb6f6"}},
       :paths ["build/resources"],
       :ns-default build},
      :poly
      {:main-opts ["-m" "polylith.clj.core.poly-cli.core"],
       :extra-deps {polylith/clj-poly {:mvn/version "0.2.18"}}}}}}
   {:name "user-service",
    :type "project",
    :deps
    {:deps
     {poly/user {:local/root "../../components/user"},
      poly/user-api {:local/root "../../bases/user-api"},
      org.clojure/clojure {:mvn/version "1.12.0"},
      org.apache.logging.log4j/log4j-core {:mvn/version "2.13.3"},
      org.apache.logging.log4j/log4j-slf4j-impl
      {:mvn/version "2.13.3"}},
     :aliases
     {:test {:extra-paths [], :extra-deps {}},
      :uberjar {:main se.example.user-api.core}}}}],
  :user
  {:color-mode "dark",
   :empty-character ".",
   :thousand-separator ",",
   :ws-shortcuts
   {:root-dir "/Users/tengstrand/source/polylith",
    :paths
    [{:dir "examples/doc-example"}
     {:dir "examples/for-test"}
     {:dir "examples/illegal-brick-deps"}
     {:dir "examples/illegal-configs"}
     {:dir "examples/inconsistent-libs"}
     {:dir "examples/local-dep"}
     {:dir "examples/local-maven-repo"}
     {:dir "examples/missing-component"}
     {:dir "examples/mix-example"}
     {:dir "examples/poly-rcf"}
     {:dir "examples/profiles"}
     {:dir "examples/test-runners"}
     {:dir "../tetrisanalyzer/langs/clojure/tetris-polylith"}
     {:dir "../clojure-polylith-realworld-example-app",
      :name "realworld"}]}},
  :workspace
  {:projects
   {"development" {:alias "dev"},
    "command-line" {:alias "cl"},
    "user-service" {:alias "user-s"}},
   :top-namespace "se.example",
   :template-data {:clojure-ver "1.12.3", :shadow-cljs-ver "^3.2.1"},
   :default-profile-name "default",
   :compact-views #{},
   :validations
   {:inconsistent-lib-versions {:type :warning, :exclude []}},
   :interface-ns "interface",
   :vcs {:name "git", :auto-add true},
   :dialects ["clj"],
   :tag-patterns {:stable "^stable-.*", :release "^v[0-9].*"}}}}
