{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps {poly/auth-ui {:local/root "components/auth-ui"}
                               poly/invoicer {:local/root "components/invoicer"}
                               poly/test-setup {:local/root "components/test-setup"}

                               org.clojure/clojure {:mvn/version "1.12.2"}}}

            :test {:extra-paths ["components/auth-ui/test"
                                 "components/invoicer/test"]
                   :extra-deps {polylith-kaocha/kaocha-wrapper
                                {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                 :git/tag "v0.8.6"
                                 :git/sha "7282409"
                                 :deps/root "projects/kaocha-wrapper"}}}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith-kaocha/test-runner
                                {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                 :git/tag "v0.8.6"
                                 :git/sha "7282409"
                                 :deps/root "projects/test-runner"}
                                io.github.seancorfield/polylith-external-test-runner
                                {:git/tag "v0.4.0" :git/sha "eb954fe"
                                 :deps/root "projects/runner"}
                                polylith/clj-poly
                                {:local/root "../../projects/poly"}}}}}
