{:top-namespace "se.external"
 :interface-ns "interface"
 :default-profile-name "default"
 :dialects #{"clj"}
 :compact-views #{}
 :test {:create-test-runner org.corfield.external-test-runner.interface/create}
 :vcs {:name "git"
       :auto-add false}
 :tag-patterns {:stable "^stable-.*"
                :release "^v[0-9].*"}
 :projects {"development" {:alias "dev"}

            "external-inherit-from-global" {:alias "inherit"
                                            :necessary ["auth-ui" "invoicer" "test-setup"]
                                            :test {:setup-fn se.external.test-setup.interface/setup
                                                   :create-test-runner [org.corfield.external-test-runner.interface/create]}}

            "kaocha-override-global" {:alias "override"
                                      :necessary ["auth-ui" "invoicer" "test-setup"]
                                      :test {:setup-fn se.external.test-setup.interface/setup
                                             :create-test-runner [polylith-kaocha.test-runner/create]}}

            "multiple-test-runners" {:alias "multiple"
                                     :necessary ["auth-ui" "invoicer" "test-setup"]
                                     :test {:setup-fn se.external.test-setup.interface/setup
                                            :create-test-runner [:default
                                                                 polylith-kaocha.test-runner/create
                                                                 org.corfield.external-test-runner.interface/create]}}}
 :test-configs {:default-test-runner  {:create-test-runner [:default]}
                :external-test-runner {:create-test-runner [org.corfield.external-test-runner.interface/create]}
                :kaocha-test-runner   {:create-test-runner [polylith-kaocha.test-runner/create]}
                :exclude-dummy        {:org.corfield/external-test-runner {:focus {:exclude [:dummy]}}}
                :exclude-integration  {:org.corfield/external-test-runner {:focus {:exclude [:integration]}}}}}
