{:deps {poly/a-okay  {:local/root "../../components/a-okay"}
        poly/company {:local/root "../../components/company"}
        poly/util    {:local/root "../../components/util"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps {:mvn/version "0.16.1264"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
